{% extends "base.html" %}


{% block additional_breadcrumbs %}
<li style="display: inline-block; margin-right: 10px;"><a href="{% url 'salas-por-edificio' %}">Salas</a></li>> 
{% endblock %}
{% block content %}
    <h1>Salas por Edificio</h1>
    
    {% for edificio, all_salas in grouped_salas.items %}
        <h2>{{ edificio }}</h2>
        <ul>
        {% for sala in all_salas %}
            <li><a href="{% url 'pagResenas' sala.pk %}">{{ sala.NombreSala }}</a> - Capacidad Normal: {{ sala.CapacidadNormal }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
